[submodule "vendor/sh4-tests"]
	path = vendor/sh4-tests
	url = https://github.com/SingleStepTests/sh4.git
	shallow = true
[submodule "vendor/aica-dsp-compiler"]
	path = vendor/aica-dsp-compiler
	url = https://github.com/pcercuei/aica-dsp.git
[submodule "vendor/arm7di-tests-dreamcast"]
	path = vendor/arm7di-tests-dreamcast
	url = https://github.com/emudev-org/arm7di-tests-dreamcast.git
